.nav-item{
	color: white;
}
#zam{
	font-family: 'Lexend Giga', sans-serif;
	color: white;
	font-size: 28px;
}
#contacto:hover, #registrar:hover, #login:hover, #zam:hover{
	background-color:#0b5a8f;
	border-color: white;
	transition:all .5s ease-in-out;
}
#contacto, #registrar, #login, #zam{
	border-radius: 10px;
	color: white;
}
.card-img-top{
	width: 90%;
	height: 50%;
}